{% extends "layout.html" %}
{% block content %}
<html>
<body>

<style>

table, th, td {
		 width: 100%;
		 table-layout:fixed;
	}


</style>



<h2 align="left">Choose a file to download</h2>
	<table style="border: 10px black">
		<tr><th>Group</th><th>File</th><th></th></tr>

		<tr>

			<form action = "https://trips.ucc.ie/downloadquery" method = "POST" enctype = "multipart/form-data">
				<!-- <form action = "http://143.239.109:5000/uploadquery" method = "POST" enctype = "multipart/form-data"> -->
				<td align="center">
					<select name="organism" id="organism_dropdown">
						<option value="item0">--Select an Item--</option>
					</select>
				</td>


				<td align="center">
					<select name="assembly" id="size">
						<option value="">-- select one -- </option>
					</select>
				</td>



				<td align="center">
					<input value="Download file" type = "submit"/>
				</td>
			</form>
		</tr>
	</table>






	<script type="text/javascript">

	var organism_dict = {{ organism_dict|safe }};
	for (var org in organism_dict) {
		org_dropdown = document.getElementById('organism_dropdown');
		org_dropdown.options[org_dropdown.options.length] = new Option(org, org);
		for (var assembly in organism_dict[org]){
			console.log("Assembly is "+organism_dict[org][assembly])
		}
	}


	console.log("organism_dict is"+organism_dict);
		$(document).ready(function () {
			$("#organism_dropdown").change(function () {
				var val = $(this).val();

				if (val in organism_dict) {

					var opt_string = "";
					for (var assembly in organism_dict[val])    {
						opt_string += "<option value="+organism_dict[val][assembly]+">"+organism_dict[val][assembly]+"</option>"
					}
					console.log("FINAL OPT STRING IS "+opt_string)
					$("#size").html(opt_string);
				}
			});
		});

	</script>








</body>
</html>

{% endblock %}
