{% extends "layout.html" %}
{% block content %}

<script>
var gwips_clade = '{{  gwips_clade|safe  }}';
var gwips_org = '{{  gwips_org|safe  }}';
var gwips_db = '{{  gwips_db|safe  }}';
var gwips_info = {{  gwips_info|safe  }};
</script>

<head>
<link rel= "stylesheet" href= "{{ url_for('static', filename='css/common.css') }}">
<link rel= "stylesheet" href= "{{ url_for('static', filename='css/comparison.css') }}">
</head>

<div id="general_settings">
	<p><font size="5" align="center"><b><u>General Settings </u></b></font></p>
	<table align="center" class="studytable">
	<tr><td><input id="ambiguous" class="hidden_check ambig_check" type="checkbox" name="ambiguous" value="ambiguous" unchecked></input><label for='ambiguous' class='checkbox_label'></label><label for='line_graph' class='padded_label'>Allow ambiguous reads</label> <a class="whatsthis"  target="_blank_" href="https://trips.ucc.ie/help/?parent_acc=parent_comparison&child_acc=child_comp_ambig">(Whats this?) </a> </tr></td>
	<tr><td><input id="normalize" class="hidden_check norm_check" type="checkbox" name="normalize" value="normalize" checked></input>     <label for='normalize' class='checkbox_label'></label><label for='line_graph' class='padded_label'>Normalize by mapped reads</label> <a class="whatsthis"  target="_blank_" href="https://trips.ucc.ie/help/?parent_acc=parent_comparison&child_acc=child_comp_norm">(Whats this?) </a> </tr></td>
	<tr><td><input id="comp_ribocov" class="hidden_check comp_ribocov_check" type="checkbox" name="comp_ribocov" value="comp_ribocov" checked></input>     <label for='comp_ribocov' class='checkbox_label'></label><label for='line_graph' class='padded_label'>Ribo-Seq coverage</label> <a class="whatsthis"  target="_blank_" href="https://trips.ucc.ie/help/?parent_acc=parent_comparison&child_acc=child_comp_norm">(Whats this?) </a> </tr></td>
	<tr><td><b>Gene/Transcript: </b><a class="whatsthis"  target="_blank_" href="https://trips.ucc.ie/help/?parent_acc=parent_comparison&child_acc=child_comp_gene">(Whats this?) </a>
	<input align="center" id="tran" type="text" name="transcript" value="ENST00000367055"></input></tr></td>
	<tr><td><b>Min Read: </b><a class="whatsthis"  target="_blank_" href="https://trips.ucc.ie/help/?parent_acc=parent_comparison&child_acc=child_comp_minread">(Whats this?) </a><input type="text" id="minread" name="minread" value="25" ></input></tr></td>
	<tr><td><b>Max Read: </b><a class="whatsthis"  target="_blank_" href="https://trips.ucc.ie/help/?parent_acc=parent_comparison&child_acc=child_comp_maxread">(Whats this?) </a><input type="text" id="maxread" name="maxread" value="150" ></input></tr></td>
	<tr><td><b>Highlight start: </b><a class="whatsthis"  target="_blank_" href="https://trips.ucc.ie/help/?parent_acc=parent_comparison&child_acc=child_comp_hili">(Whats this?) </a><input type="text" id="hili_start" name="hili_start" value="0" ></input></tr></td>
	<tr><td><b>Highlight stop: </b><a class="whatsthis"  target="_blank_" href="https://trips.ucc.ie/help/?parent_acc=parent_comparison&child_acc=child_comp_hili">(Whats this?) </a><input type="text" id="hili_stop" name="hili_stop" value="0" ></input></tr></td>
	</table>
</div>

<div id="seq_types">
<p><font size="5" align="center"><b><u>Seq types</u></b></font></p>
</br>
</div>
<div id = "dialog-2" title = "Choose a transcript..."></div>
<div id="studies">
<p><font size="5" align="center"><b><u>Studies</u></b></font></p>
</br>
<ul class="checkbox-grid" data-role="listview" data-inset="true" id="ulist"  title="nodes list" data-inset="true"></ul>

<table align="center">
<tr><td><input class="jscolor {width:243, height:150, position:'right',
borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#666', hash:true}"  style="width:60px; height:60px" id="inputcolor_riboseq"  name="favcolor" value="#ff0000"></td>
<td><button class="button" type="button" id="btnAdd" value="Add" onclick="addItem('None')"><b>Add Selected File</b></button></td></tr>
<tr><td></td><td><button class="button" type="button" id="btnAdd" value="Add" onclick="addStudy()"><b>Add All Files in File box</b></button></td></tr>
<tr><td></td><td><button  class="study_button" type="button" onclick='view_study_info()'><b>View study info</b></button></td></tr>
</table>
</br>

<table align="center" width="90%" name="studytable" id="studytable" class="studytable">
<tr id="tablerow1">
</tr>
<tr id="tablerow2">
</tr>
<tr id="tablerow3">
</tr>
<tr id="tablerow4">
</tr>
<tr id="tablerow5">
</tr>
<tr id="tablerow6">
</tr>
<tr id="tablerow7">
</tr>
<tr id="tablerow8">
</tr>
<tr id="tablerow9">
</tr>
<tr id="tablerow10">
</tr>
<tr id="tablerow11">
</tr>
<tr id="tablerow12">
</tr>
<tr id="tablerow13">
</tr>
<tr id="tablerow14">
</tr>
<tr id="tablerow15">
</tr>
<tr id="tablerow16">
</tr>
<tr id="tablerow17">
</tr>
<tr id="tablerow18">
</tr>
<tr id="tablerow19">
</tr>
</table>
</div>


<div id="file_list">
	<p><font size="5" align="center"><b><u>File list</u></b></font></p>
	<ul id="color_file_list"></ul>
	<ul class="checkbox-grid" data-role="listview" data-inset="true" id="ulist"  title="nodes list" data-inset="true">
	</ul>
	<br/>
	<div class="clear_button">
	<button class="button centerbutton" type="button" value="Clear list" onclick='removeAll()'><b>Clear list</b></button>
	</div>
</div>


<div id="buttons"></div>
<div id="files">
</br>
<p><font size="5" align="center"><b><u>Ribo-Seq files</u></b></br></font></p>
</div>
<div id="view_plot">
<a href="http://gwips.ucc.ie" id="gwips_link" target="_blank" >
<button class="button centerbutton" type="submit"><b>View on GWIPS-Viz</b></button></a>
</br>
<button class="button centerbutton" type="button" onclick='changebuttonlink(gwips_info)'  id="comparequery"><b>View Plot</b></button>
</div>

<div id="loading-div-background">
	<div id="loading-div" class="ui-corner-all" >
		<img style="height:64px;margin:10px;"      src="{{ url_for('static', filename = 'css/images/282.GIF') }}" width="110" height="85" alt="Loading..."/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/sofia.css') }}">
		<h3 id="loading_header" style="color:gray;font-weight:normal;">Loading....</h3>
	</div>
</div>

<div id="container"></div>
<div id = "study_dialog" title = "Study info">
<table></table>
</div>

<script type="text/javascript"   src="{{ url_for('static', filename='js/common.js') }}"></script>
<script type="text/javascript">
var listnum = 0;
var master_file_dict = {};
var html_args = {{  html_args|safe  }};
var file_id_to_name_dict = {{ file_id_to_name_dict|safe }};

// INPUT ALL FILES PASSED IN HTML ARGUMENTS, also input labels if they were supplied
for (color in html_args["user_file_dict"]) {
	master_file_dict[color] = {"file_ids":[]}
	master_file_dict[color]["file_ids"] = html_args["user_file_dict"][color]
	var li = document.createElement("LI");
	var newdiv = document.createElement("div");
	newdiv.className =  "input-color";
	var indiv = document.createElement("div");
	indiv.className = "color-box";
	indiv.style.backgroundColor = ""+color+"";
	newdiv.appendChild(indiv);
	if (color in html_args["user_label_dict"]) {
		var file_name = html_args["user_label_dict"][color]
	}
	else {
		var file_name = file_id_to_name_dict[master_file_dict[color]["file_ids"][0]]
	}
	var group_id = 'label_'+color
	if (master_file_dict[color]["file_ids"].length == 1) {
		var group_name = "<input type='text' id="+group_id+" value='"+file_name+"' ></input>"
		li.innerHTML = [group_name];
	}
	else {
		if (color in html_args["user_label_dict"]) {
			var initial_value = file_name
		}
		else {
			var initial_value = [file_name+ " and "+ ((master_file_dict[color]["file_ids"].length)-1).toString() +" others"];
		}
		var group_name = "<input type='text' id="+group_id+" value='"+initial_value+"' ></input>"
		li.innerHTML = [group_name];
	}
	document.getElementById("color_file_list").appendChild(li);
	document.getElementById("color_file_list").appendChild(newdiv);
}



// click view plot when enter is pressed on keyboard
$(document).keypress(function(e){
		if (e.which == 13){
				$("#comparequery").click();
				}
		});



rownum = 1
rowcount = -1


var seq_types = {{  seq_types|safe  }};
for (var i in seq_types) {
	//if the seq type is riboseq make it checked by default
	if (seq_types[i] == "riboseq") {
		checked = "checked"
	}
	else {
		checked = "unchecked"
	};

	// if seq type is riboseq or rnaseq set a proper display name, else just use seq_type
	if (seq_types[i] == "riboseq") {
		display_name = "Ribo-Seq"
	}
	else if (seq_types[i] == "rnaseq") {
		display_name = "mRNA-Seq"
	}
	else {
		display_name = seq_types[i]
	}

	var radio_seq_types = "<input "+checked+" type='radio' class='seq_type_radio all_checks' id='"+seq_types[i]+"' name='seq_type' value="+seq_types[i]+" /></b>   </input><label for='"+seq_types[i]+"' id='label"+seq_types[i]+"' class='radio_label' >"+display_name+"</label>";
	var seq_types_div = document.getElementById('seq_types');
	seq_types_div.innerHTML += radio_seq_types;
}


var studies_dict = {{  studies_dict|safe  }};
var studyinfo_dict = {{  studyinfo_dict|safe  }};
for (var key in studies_dict)  {
		rowcount += 1;
		if (rowcount == 6) {
				rowcount = 0
				rownum += 1
				};
		var radio_study = "<input type='radio' checked class='study_radio all_checks' id='study"+key+"' name='content_type' value=study"+key+" /></b></input><label for='study"+key+"' id='label"+key+"' class='radio_label' >"+studies_dict[key]["study_name"]+"</label>";
		addRow(rownum, radio_study)

		for (i in seq_types) {
			var seq_type = seq_types[i]
			var files_div = document.getElementById('files');
			var new_show_div = document.createElement(studies_dict[key]["study_name"]);
			console.log("Seq type is "+seq_type)
			new_show_div.className = 'show';
			new_show_div.id = seq_type+"study"+key;
			tablehtml = "<table  class='file_table' id="+key+seq_type+" align='center'></table>";
			new_show_div.innerHTML = tablehtml;
			files_div.appendChild(new_show_div);
		}
		};
		// accepted files structure, key is file_type,values are file_id's (which are themselves keys) which point to a dictionary with the following: {"study_id":row[1],"file_name":row[2],"file_description":row[3],"file_type":row[4]}
		var accepted_files = {{ accepted_files|safe }};
		var seq_study_dict = {};
		// populate the ribostudies and rnastudies div with file names and descriptions.
		for (var filetype in accepted_files) {
				for (var study_id in accepted_files[filetype]) {
						i=0
						var file_names = [];
						for (var file_id in accepted_files[filetype][study_id]) {
							file_name = accepted_files[filetype][study_id][file_id]["file_name"]
							file_names.push([file_name, file_id])
							}
						file_names = file_names.sort(function(a, b) {
							return a[0].localeCompare(b[0]);
						})
						
						var sorted_file_list = [];
						for (var z in file_names) {
							var tup = file_names[z];
							sorted_file_list.push(tup[1]);
							}
						for (var file_id in sorted_file_list) {
								file_id = sorted_file_list[file_id]
								file_name = accepted_files[filetype][study_id][file_id]["file_name"];
								file_description = accepted_files[filetype][study_id][file_id]["file_description"];

								if (!(filetype in seq_study_dict)) {
									seq_study_dict[filetype] = [];
								};
								if (accepted_files[filetype][study_id].length != 0) {
									if (!(study_id in seq_study_dict[filetype])) {
										seq_study_dict[filetype].push(study_id);
								}
							};
								var table = document.getElementById(study_id+filetype);
								var tr = document.createElement("tr");
								var td = document.createElement("td");
								td.innerHTML = ("<td><input id='"+file_id+"' type='radio'    class='study_radio file_"+file_id+" "+filetype+"_file "+filetype+"_study"+study_id+"'  name='ribostudy' value="+file_id+"></input>    <label for='"+file_id+"' class='filetable_label'></label> <label for='"+file_id+"' class='padded_label'><b>"+file_name+"</b>:"+file_description+"</label></td>");
								if (i != 2){
										table.appendChild(td);
										i+= 1;
														}
								else if (i == 2){
										table.appendChild(td);
										table.appendChild(tr);
										i = 0
										}

																								}
																}
										};


var defaulttran = "{{ default_tran|safe }}";
document.getElementById('tran').value = defaulttran;

function removeAll(){

		master_file_dict = {};
		listnum = 0;
		document.getElementById("color_file_list").innerHTML = "";}


function addStudy(){
	var study_id = document.querySelector('input[name="content_type"]:checked').value;
	study_id = study_id.replace("study", "");
	var seq_type = document.querySelector('input[name="seq_type"]:checked').value;
	console.log("Study id is", study_id);

	for (var item in accepted_files[seq_type][study_id]) {
		addItem(item);
		};
	
	};


function addItem(file_id){
		listnum += 1
		if (file_id == "None") {
			var fileinput = document.querySelector('input[name=ribostudy]:checked').value;
			}
		else {
			fileinput = file_id;
			};
		var colorinput = document.getElementById("inputcolor_riboseq");
		if (colorinput.value in master_file_dict) {
				console.log("COLOR INPUT "+colorinput.value+" is in master file dict ");
				master_file_dict[colorinput.value]["file_ids"].push(fileinput);
				
				
				var group_id = 'label_'+colorinput.value
				console.log("INPUT GROUP ID IS "+group_id)
				var group_label = document.getElementById(group_id);
				var label_val = (group_label.value).replace(/_/g, "-");
				master_file_dict[colorinput.value]["label"] = label_val
				
				
				
				for (key in master_file_dict) {
						for (id in master_file_dict[key]["file_ids"]) {
								console.log("id "+master_file_dict[key]["file_ids"][id]);
																													}
																			};
				}
		else {
				console.log("COLOR INPUT "+colorinput.value+" is not in master file dict ");
				var minread = $('input:text[name=minread]').val();
				var maxread = $('input:text[name=maxread]').val();
				master_file_dict[colorinput.value] = {"file_ids":[fileinput],"minread":minread, "maxread":maxread,"label":""}

				for (key in master_file_dict) {
						console.log("Color", key);
						for (id in master_file_dict[key]["file_ids"]) {
								console.log("id "+master_file_dict[key]["file_ids"][id]);
								}
						};

				 };

		document.getElementById("color_file_list").innerHTML = "";
		for (color in master_file_dict) {
				var li = document.createElement("LI");
				var newdiv = document.createElement("div");
				newdiv.className =  "input-color";
				var indiv = document.createElement("div");
				indiv.className = "color-box";
				indiv.style.backgroundColor = ""+color+"";
				newdiv.appendChild(indiv);
				var file_name = file_id_to_name_dict[master_file_dict[color]["file_ids"][0]]
				var group_id = 'label_'+color
				console.log("INPUT GROUP ID IS "+group_id)
				if (master_file_dict[color]["file_ids"].length == 1) {
						var minread = master_file_dict[color]["minread"];
						var maxread = master_file_dict[color]["maxread"];
						var group_name = "<input type='text' id="+group_id+" value='"+file_name+"_"+minread+"-"+maxread+"' ></input>"
						li.innerHTML = [group_name];
																														 }
				else {
						var minread = master_file_dict[color]["minread"];
						var maxread = master_file_dict[color]["maxread"];
						var initial_value = [file_name+ " and "+ ((master_file_dict[color]["file_ids"].length)-1).toString() +" others"+"_"+minread+"-"+maxread];
						var group_name = "<input type='text' id="+group_id+" value='"+initial_value+"' ></input>"
						li.innerHTML = [group_name];
						}
				document.getElementById("color_file_list").appendChild(li);
				document.getElementById("color_file_list").appendChild(newdiv);
				};

		};


function print_dict(input_dict) {
		for (var key in input_dict) {
				console.log(input_dict[key]);
																}
																};

$(function() {
		$( "#dialog-2" ).dialog({
				autoOpen: false,
				modal: true,
				minWidth: 800,
				buttons: {
				Submit: function() {//var transcript = document.getElementById("transcript_sel").value();
								var transcript = document.querySelector('input[name=transcript_sel]:checked').value;
								console.log("transcript"+transcript);
								document.getElementById('tran').value = transcript;
								$(this).dialog("close");
								// if there is files in the file list then call the comparequery function

								if (listnum >= 1) {
										console.log("Calling compare query");
										$("#comparequery").click();}
								else {
										console.log("listnum"+listnum);
										return true;
												}
								}},

				title: "Choose a transcript. . .",
				position: {my: "center", at: "center"
									}
													});
												});

var local = "{{ local|safe }}";
if (local == "True") {
		var url = "/comparequery"
		}
else {
		var url = "/comparequery"
		}

$("#loading-div-background").css({ opacity: 0.7 });

$("#comparequery").click(function() {
	$("#loading-div-background").show();
	$("#container").hide();
	var transcript = $('input:text[name=transcript]').val();
	var minread = $('input:text[name=minread]').val();
	var maxread = $('input:text[name=maxread]').val();

	var hili_start = $('input:text[name=hili_start]').val();
	var hili_stop = $('input:text[name=hili_stop]').val();

	// var ribocoverage = $('input:checkbox[name=coverage]:checked').val();
	var normalize = $('input:checkbox[name=normalize]:checked').val();
	var ambiguous = $('input:checkbox[name=ambiguous]:checked').val();
	var comp_ribocov = $('input:checkbox[name=comp_ribocov]:checked').val();
	var organism = "{{  organism|safe  }}";
	var transcriptome = "{{  transcriptome|safe  }}";

	for (key in master_file_dict) {
			var group_id = "label_"+key
			console.log("Group id is "+group_id);
			var group_label = document.getElementById(group_id);
			var label_val = (group_label.value).replace(/_/g, "-");
			master_file_dict[key]["label"] = label_val
			};

	var qu = {"transcript":transcript, "minread":minread, "maxread":maxread, "ambiguous": ambiguous, "master_file_dict": master_file_dict,
				"organism":organism, "normalize":normalize, "html_args":html_args,"hili_start":hili_start,"hili_stop":hili_stop,
				"transcriptome":transcriptome,"ribocoverage":comp_ribocov};

	if (Object.keys(master_file_dict).length == 1) {
		loading_header.innerText = "Loading data from "+Object.keys(master_file_dict).length+" file";}
	else {
		loading_header.innerText = "Loading data from "+Object.keys(master_file_dict).length+" files";}


	$.ajax({
			type: "POST",
			async:true,
			contentType: "application/json; charset=utf-8",
			url: url,
			data: JSON.stringify(qu),
			success: function (data) {
					if (data.slice(0, 11) == "TRANSCRIPTS"){
							console.log("Its a transcript list");
							var splitdata = data.split(":");
							populate_jquery_dialog(splitdata);
							$( "#dialog-2" ).dialog( "open" );
							console.log("After submit");
							$("#loading-div-background").hide();
							$("#container").show();

							}
					else{
							console.log("its not a transcript list");

							var graph = $("#container");
							graph.html(data);
							$("#loading-div-background").hide();
							$("#container").show();
							$('html, body').animate({scrollTop: $("#container").offset().bottom}, 200);
							document.getElementById('container').scrollIntoView();

							}
					},
	dataType: "html"
 });
});


if (html_args["minread"] != "None") {
		document.getElementById('minread').value = html_args["minread"];
		}

if (html_args["maxread"] != "None") {
		document.getElementById('maxread').value = html_args["maxread"];
		}

if (html_args["hili_start"] != "None") {
	 document.getElementById('hili_start').value = html_args["hili_start"];
	 }

if (html_args["hili_stop"] != "None") {
		document.getElementById('hili_stop').value = html_args["hili_stop"];
		}

if (html_args["ambig"] == "T") {
		$('.ambig_check').attr('checked', true);
		}
else {
		$('.ambig_check').attr('checked', false);
		}

if (html_args["cov"] == "T") {
		$('.cov_check').attr('checked', true);
		}
else {
		$('.cov_check').attr('checked', false);
		}

if (html_args["normalize"] == "T") {
		$('.norm_check').attr('checked', true);
		}
else if (html_args["normalize"] == "F") {
		$('.norm_check').attr('checked', false);
		}

if (html_args["transcript"] != "None") {
		document.getElementById('tran').value = html_args["transcript"];
		// If a transcript is passed by the user then automatically produce a graph
		$("#comparequery").click();
		}

//Update the options box on page load and load files in file box
$(document).ready(function(){
	var n = document.querySelector('input[name="content_type"]:checked').value;
	var seq_type = document.querySelector('input[name="seq_type"]:checked').value;

	for (var study_id in studies_dict) {
		$("#label"+study_id+"").css({ opacity: 0.2 });
	}
	for (file_type in seq_study_dict) {
		if (file_type == seq_type) {
			console.log("File type is seq_type "+file_type+"  "+seq_type);
			for (var sub_study_id in seq_study_dict[file_type]) {
				$("#label"+seq_study_dict[file_type][sub_study_id]+"").css({ opacity: 1 });
			}
		}
	}

	var selector = "#"+seq_type+ n; //Create a selector based on the id
	$(".show").hide(); //Hide all the checkbox containers
	$(selector).show(); //Show only the related container
})

</script>

{% endblock %}
