<!DOCTYPE html>
<html>
<head>
	<title>Trips-Viz</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/jquery-ui.min.css"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-alpha.12/dist/html2canvas.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.js"></script>
	<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.2.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.2.min.js" crossorigin="anonymous"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/sofia.css') }}">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-html5-1.5.1/b-print-1.5.1/cr-1.4.1/datatables.min.css"/>
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-html5-1.5.1/b-print-1.5.1/cr-1.4.1/datatables.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.1/js/jquery.tablesorter.js"></script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115765268-1"></script>
	<strong>
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/lean-slider.css') }}">
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/sample-styles.css') }}">
	 <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
 </strong>
 <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
</head>
<body>


<header>
		<h1 class="logo" style="font-family: 'Georgia'"><span style="color: #77abff">T</span>rips-<span style="color: #77abff">V</span>iz</h1>
				<strong><nav>
						<ul class="menu" style="display:inline; padding: 0px 50px;">
								<li><a href="{{ url_for('homepage') }}"><span>Home</span></a></li>
								<li><a href="{{ url_for('helppage') }}"><span>Help</span></a></li>
								<li><a href="{{ url_for('contactus') }}"><span>Contact Us</span></a></li>
								<li><a href="{{ url_for('downloadspage') }}"><span>Downloads</span></a></li>
								<li><a href="{{ url_for('settingspage') }}"><span>Settings</span></a></li>
								<li><a href="{{ url_for('uploadspage') }}"><span>Uploads</span></a></li>
								<li><a href="{{ url_for('saved') }}"><span>Saved ORFs</span></a></li>

								{% if not current_user.is_authenticated %}
										<li><a href="{{ url_for('login')}}"><span>Sign In</span></a></li>
										<li><a href="{{ url_for('create') }}"><span>Sign Up</span></a></li>
								{% endif %}
								{% if current_user.is_authenticated %}
										<li><a href="{{ url_for('logout')}}"><span>Sign Out</span></a></li>
								{% endif %}
								
								<!--{% if current_user.name == "114224403@umail.ucc.ie" %}
									<li><a href="{{ url_for('saved') }}"><span>My ORFs</span></a></li>
								{% endif %}-->
								
						</ul>
				</nav></strong>
</header>

<div>
		{% with messages = get_flashed_messages() %}
				{% if messages %}
						{% for message in messages %}
								<div class="alert alert-info alert-dismissible" role="alert">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<!-- <strong>Title</strong> --> {{ message }}
								</div>
						{% endfor %}
				{% endif %}
		{% endwith %}
</div>


<div class="container">
		{% block content %}

		{% endblock %}
</div>


<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script type="text/javascript">

var gtagId = 'UA-115765268-1';
window['ga-disable-' + gtagId] = true;

window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

	
window.addEventListener('load', function(){
			window.cookieconsent.initialise({
				type: "opt-out",
				theme: "classic",
				palette: {
						popup: {
							background: "#eaf7f7",
							text: "#5c7291"
								},
						button: {
							background: "#56cbdb",
							text: "#ffffff"
								}
					   },
				theme: "classic",
				position:"top",
				
				content: {
					message: "This website uses cookies to generate website usage statistics via google analytics and persistent cookies to save user preferences and facilitate data uploads."
						},
				
				
				
				onInitialise: function(status) {
							var type = this.options.type;
							var didConsent = this.hasConsented();
							if (type == 'opt-in' && didConsent) {
								console.log("Enabling cookies")
								window['ga-disable-' + gtagId] = false;
								gtag('config', 'UA-115765268-1');
								}
							if (type == 'opt-out' && !didConsent) {
								console.log("Disabling cookies")
								window['ga-disable-UA-115765268-1'] = true;
								gtag('config', 'UA-115765268-1', {
											 'client_storage': 'none'
											 });
								
								}
							},
										
				onStatusChange: function(status, chosenBefore) {
								var type = this.options.type;
								var didConsent = this.hasConsented();
								if (type == 'opt-in' && didConsent) {
									console.log("Enabling cookies")
									window['ga-disable-' + gtagId] = false;
									gtag('config', 'UA-115765268-1');
									}
								if (type == 'opt-out' && !didConsent) {
									console.log("Disabling cookies")
									window['ga-disable-UA-115765268-1'] = true;
									gtag('config', 'UA-115765268-1', {
										'client_storage': 'none'
											});
									}
								},
				onRevokeChoice: function() {
									var type = this.options.type;
									if (type == 'opt-in') {
										console.log("Disabling cookies")
										window['ga-disable-UA-115765268-1'] = true;
										gtag('config', 'UA-115765268-1', {
											'client_storage': 'none'
												});
										}
									if (type == 'opt-out') {
										console.log("Enabling cookies")
										window['ga-disable-' + gtagId] = false;
										gtag('config', 'UA-115765268-1');
										
										}
									}
				

				
					   })
					   });



</script>
</body>


</html>
