{% extends "layout.html" %}
{% block content %}
<html>
<body>

<style>

td {

	text-align: center;
}

table, th, td {
		 width: 100%;
		 table-layout:fixed;
	}

	.center {
	    text-align:center;
	    font-size:20px;
	    margin: auto;
	    width: 60%;
	    padding: 10px;}

	.title {
	    text-align:center;
	    font-size:30px;
	    margin: auto;
	    width: 60%;
	    text-decoration: underline;
	    padding: 10px;}

	.acc_headers {
			background-color:#77abff;
			color: white;
			letter-spacing: 0px;
			border: 1px solid #9a9a9a;
			text-shadow:
			-1px -1px 0 #7d7d7d,
			1px -1px 0 #7d7d7d,
			-1px 1px 0 #7d7d7d,
			1px 1px 0 #7d7d7d;
			}

	#accordion h2{
	    background-color:#77abff;
	    background-image: none;
	    font-size:22px;
	    }


</style>


<div id="accordion" class="top_header">
<h3  class="acc_headers" align="left">Upload new file</h3>
<div>
	<table style="border: 10px black">
		<tr><th>Organism</th><th>Assembly</th><th>Study name</th><th>File to upload</th><th>File type</th><th></th></tr>
		<tr>
				<form action = "/uploadquery" method = "POST" enctype = "multipart/form-data">
				<td align="center">
					<select name="organism" id="organism_dropdown">
						<option value="item0">--Select an Organism--</option>
					</select>
				</td>
				<td align="center">
					<select name="assembly" id="size">
						<option value="">-- Select a transcriptome -- </option>
					</select>
				</td>
				<td align="center">
					<input type=text value=Foldername name=foldername>
				</td>
				<td align="center">
					<input name = "file" type = "file" multiple/>
				</td>
				<td align="left">
					<input type="radio" id="riboseq" value="riboseq" name="filetype" checked></input>Ribo-Seq<br>
					<input type="radio" id="rnaseq" value="rnaseq" name="filetype" unchecked></input>mRNA-Seq<br>
					<input type="radio" id="other" value="other" name="filetype" unchecked></input><input type=text value="Other" name=seq_type placeholder="Enter name of other sequence type">
				</td>
				<td align="center">
					<input value="Upload file" type = "submit"/>
				</td>
			</form>
		</tr>
	</table>
</div>


<h3 class="acc_headers" align="left"> My studies</h3>
<div>
<table id="study_table">
<tr><th>Studyname</th><th>Organism</th><th>Assembly</th><th>Access list</th><th>Delete</th></tr>
</table>
<div align="center">
	<button align="center" type="button"  id="update_study_button"><b>Update</b></button>
</div>
</div>

<h3 class="acc_headers" align="left"> My files</h3>
<div>
<table id="file_table">
<tr><th>Filename</th><th>Studyname</th><th>Description</th><th>Cutadapt removed</th><th>rRNA removed</th><th>Unmapped</th><th>Delete</th></tr>
</table>
<div align="center">
	<button align="center" type="button"  id="delete_button"><b>Update</b></button>
</div>
</div>


<h3 class="acc_headers" >Sequence rules</h3>
<div align="center">
<table id="seq_table">
<tr><th>Sequence type</th><th>Colour by frame</th></tr>


</table>
<div align="center">
	<button align="center" type="button"  id="update_seq_button"><b>Update sequence rules</b></button>
</div>
</div>


<h3 class="acc_headers" align="left"> Upload new transcriptome</h3>
<div>
<table style="border: 10px black">
	<tr><th>Organism name</th><th>Assembly name</th><th>Annotation sqlite file</th>  <th>Default tran</th>  <th></th></tr>
	<tr>
	<form action = "/uploadtranscriptome" method = "POST" enctype = "multipart/form-data">

		<td align="center">
			<input type=text value=organism name=organism placeholder="Enter organism name">
		</td>
		
		<td align="center">
			<input type=text value=assembly name=assembly placeholder="Enter transcriptome assembly name">
		</td>

		<td align="center">
			<input name = "anno_file" type = "file" multiple/>
		</td>

		<td align="center">
			<input type=text value=default_tran name=default_tran placeholder="Enter default transcript">
		</td>

		<td align="center">
			<input value="Upload file" type = "submit"/>
		</td>
		
	</form>
	</tr>
</table>
</div>

<h3 class="acc_headers" align="left"> My transcriptomes</h3>
<div>
<table id="transcriptome_table">
<tr><th>Organism</th><th>Assembly</th><th>Delete</th></tr>
</table>
<div align="center">
<button align="center" type="button"  id="update_transcriptomes_button"><b>Update</b></button>
</div>
</div>


</div>
	<script type="text/javascript">
	$( function() {
	    $( "#accordion").accordion({
	        collapsible: true,
	        active:false,
	        heightStyle: "content"
	            });
	    } );


var file_dict = {{  file_dict|safe  }}
var file_names = [];
for (var filename in file_dict) {
	study_name = file_dict[filename][0];
	file_names.push([filename, study_name])
	};

file_names = file_names.sort(function(a, b) {
	return a[1].localeCompare(b[1]);
})

var sorted_file_list = [];
for (var z in file_names) {
	var tup = file_names[z];
	sorted_file_list.push(tup[0]);
	};






for (var i in sorted_file_list) {
	filename = sorted_file_list[i];
	file_table = document.getElementById('file_table');
	var tr = document.createElement("tr");

	var filename_td = document.createElement("td");
	var txt = document.createTextNode(filename);
	filename_td.appendChild(txt);

	var desc_td = document.createElement("td");
	//var txt = document.createTextNode(file_dict[filename][2]);
	var desc_txt = document.createElement('input');
	desc_txt.setAttribute("type", "text");
	desc_txt.value = file_dict[filename][2]
	desc_txt.id = "desc_"+file_dict[filename][1];
	desc_td.appendChild(desc_txt);

	var cutadapt_td = document.createElement("td");
	var cutadapt_txt = document.createElement('input');
	cutadapt_txt.setAttribute("type", "text");
	cutadapt_txt.value = 0
	cutadapt_txt.id = "cutadapt_"+file_dict[filename][1];
	cutadapt_td.appendChild(cutadapt_txt);

	var rrna_td = document.createElement("td");
	var rrna_txt = document.createElement('input');
	rrna_txt.setAttribute("type", "text");
	rrna_txt.value = 0
	rrna_txt.id = "rrna_"+file_dict[filename][1];
	rrna_td.appendChild(rrna_txt);

	var unmapped_td = document.createElement("td");
	var unmapped_txt = document.createElement('input');
	unmapped_txt.setAttribute("type", "text");
	unmapped_txt.value = 0
	unmapped_txt.id = "unmapped_"+file_dict[filename][1];
	unmapped_td.appendChild(unmapped_txt);

	var study_td = document.createElement("td");
	var txt = document.createTextNode(file_dict[filename][0]);
	study_td.appendChild(txt);

	var delete_td = document.createElement("td");
	var checkbox = document.createElement('input');
	checkbox.type = "checkbox";
	checkbox.name = "delete_"+file_dict[filename][1];
	checkbox.value = "delete_"+file_dict[filename][1];
	checkbox.id = "delete_"+file_dict[filename][1];
	delete_td.appendChild(checkbox);

	tr.appendChild(filename_td);
	tr.appendChild(study_td);
	tr.appendChild(desc_td);
	tr.appendChild(cutadapt_td);
	tr.appendChild(rrna_td);
	tr.appendChild(unmapped_td);
	tr.appendChild(delete_td);
	file_table.appendChild(tr);
}



//seq_dict holds the names of any custom seq types, and there rules
var seq_dict = {{  seq_dict|safe  }}

for (var seq_name in seq_dict) {
	seq_table = document.getElementById('seq_table');
	var tr = document.createElement("tr");
	var seqname_td = document.createElement("td");
	var txt = document.createTextNode(seq_name);
	seqname_td.appendChild(txt);

	//var fbd_td = document.createElement("td");
	//var txt = document.createTextNode(seq_dict[seq_name][0]);
	//fbd_td.appendChild(txt);

	var fbd_td = document.createElement("td");
	var checkbox = document.createElement('input');
	checkbox.type = "checkbox";
	checkbox.name = seq_name+"fbd";
	checkbox.value = seq_name+"fbd";
	checkbox.id = seq_name+"fbd";
	fbd_td.appendChild(checkbox);
	if (seq_dict[seq_name][0] == 1) {
		checkbox.checked = "checked";
	};

	tr.appendChild(seqname_td);
	tr.appendChild(fbd_td);
	seq_table.appendChild(tr);
}



var study_dict = {{  study_dict|safe  }}


var study_ids = [];
for (var study_id in study_dict) {
	study_name = study_dict[study_id][0];
	study_ids.push([study_id, study_name])
	};

study_ids = study_ids.sort(function(a, b) {
	return a[1].localeCompare(b[1]);
})

var sorted_study_ids = [];
for (var z in study_ids) {
	var tup = study_ids[z];
	sorted_study_ids.push(tup[0]);
};



var transcriptome_dict = {{  transcriptome_dict|safe  }}
var organism_dict = {{ organism_dict|safe }};


for (var i in sorted_study_ids) {
	study_id = sorted_study_ids[i]
	study_table = document.getElementById('study_table');
	var tr = document.createElement("tr");

	var study_td = document.createElement("input");
	study_td.setAttribute('type', 'text');
	study_td.setAttribute('value', study_dict[study_id][0]);
	study_td.setAttribute('id', 'studyname_'+study_id);
	var org_td = document.createElement("td");
	var select_td = document.createElement("select");
	select_td.name = "organism";
	select_td.id = "organism_"+study_id
	select_td.className="orgdrop"
	var curr_organism = study_dict[study_id][1]
	for (var organism_id in organism_dict) {
		var option = document.createElement("option");
		option.value = organism_id
		option.text = organism_id
		select_td.appendChild(option);
	}
	for(var i, j = 0; i = select_td.options[j]; j++) {
		if(i.value == curr_organism) {
			select_td.selectedIndex = j;
			break;
		}
	}
	org_td.appendChild(select_td);
	
	
	var assembly_td = document.createElement("td");
	var select2_td = document.createElement("select");
	select2_td.name = "assembly";
	select2_td.id = "assembly_"+study_id
	var curr_assembly = study_dict[study_id][2]
	for (var organism_id in organism_dict) {
		if (curr_organism == organism_id) {
			for (var i in organism_dict[organism_id])    {
				var option = document.createElement("option");
				option.value = organism_dict[organism_id][i]
				option.text = organism_dict[organism_id][i]
				console.log("assembly", organism_dict[organism_id][i]);
				select2_td.appendChild(option);
				}
			}
		
		}
	for(var i, j = 0; i = select2_td.options[j]; j++) {
		if(i.value == curr_assembly) {
			select2_td.selectedIndex = j;
			break;
		}
		}
	assembly_td.appendChild(select2_td);
	var access_td = document.createElement("input");
	access_td.setAttribute('type', 'text');
	access_td.setAttribute('value', study_dict[study_id][3]);
	access_td.setAttribute('id', 'access_'+study_id);
	
	var delete_td = document.createElement("td");
	var checkbox = document.createElement('input');
	checkbox.type = "checkbox";
	checkbox.name = "delete_"+study_id;
	checkbox.value = "delete_"+study_id;
	checkbox.id = "delete_"+study_id;
	delete_td.appendChild(checkbox);
	
	tr.appendChild(study_td);
	tr.appendChild(org_td);
	tr.appendChild(assembly_td);
	tr.appendChild(access_td);
	tr.appendChild(delete_td);
	study_table.appendChild(tr);
}

// Listen for changes in the organism dropdown menus in the my studies section and change assembly dropdown accordingly
$('.orgdrop').on('change', function () {
  var assembly_id = $(this).attr('id').replace("organism_","assembly_");
  var assembly_td = document.getElementById(assembly_id);
  // Clear all options from selected assembly dropdown
  assembly_td.innerHTML = "";
  // Get the value of the currently selected organism
  var curr_organism = $(this).val()
  // Find the selected org in the org_dict and populate the assembly dropdown with it's values
  for (var organism_id in organism_dict) {
		if (curr_organism == organism_id) {
			for (var i in organism_dict[organism_id])    {
				var option = document.createElement("option");
				option.value = organism_dict[organism_id][i]
				option.text = organism_dict[organism_id][i]
				assembly_td.appendChild(option);
				}
			}
		
		}
});







for (var organism_id in transcriptome_dict) {
	
	transcriptome_table = document.getElementById('transcriptome_table');
	var tr = document.createElement("tr");
	
	var org_td = document.createElement("td");
	var txt = document.createTextNode(transcriptome_dict[organism_id][0]);
	org_td.appendChild(txt);
	
	var assembly_td = document.createElement("td");
	var txt = document.createTextNode(transcriptome_dict[organism_id][1]);
	assembly_td.appendChild(txt);
	
	var delete_td = document.createElement("td");
	var checkbox = document.createElement('input');
	checkbox.type = "checkbox";
	checkbox.name = "delete_"+organism_id;
	checkbox.value = "delete_"+organism_id;
	checkbox.id = "delete_"+organism_id;
	delete_td.appendChild(checkbox);
	
	tr.appendChild(org_td);
	tr.appendChild(assembly_td);
	tr.appendChild(delete_td);
	transcriptome_table.appendChild(tr);
	}

	
	for (var org in organism_dict) {
		org_dropdown = document.getElementById('organism_dropdown');
		org_dropdown.options[org_dropdown.options.length] = new Option(org, org);
	}

		$(document).ready(function () {
			$("#organism_dropdown").change(function () {
				var val = $(this).val();
				if (val in organism_dict) {
					var opt_string = "";
					for (var assembly in organism_dict[val])    {
						opt_string += "<option value="+organism_dict[val][assembly]+">"+organism_dict[val][assembly]+"</option>"
					}
					$("#size").html(opt_string);
				}
			});
		});


function showNotificationBar(message, duration, bgColor, txtColor, height) {
	/*set default values*/
	duration = typeof duration !== 'undefined' ? duration : 1500;
	bgColor = typeof bgColor !== 'undefined' ? bgColor : "#F4E0E1";
	txtColor = typeof txtColor !== 'undefined' ? txtColor : "#A42732";
	height = typeof height !== 'undefined' ? height : 40;
	/*create the notification bar div if it doesn't exist*/
	if ($('#notification-bar').size() == 0) {
		var HTMLmessage = "<div class='notification-message' style='text-align:center; line-height: " + height + "px;'> " + message + " </div>";
		$('body').prepend("<div id='notification-bar' style='display:none; width:100%; height:" + height + "px; background-color: " + bgColor + "; position: fixed; z-index: 100; color: " + txtColor + ";border-bottom: 1px solid " + txtColor + ";'>" + HTMLmessage + "</div>");
	}
	/*animate the bar*/
	$('#notification-bar').slideDown(function() {
		setTimeout(function() {
			$('#notification-bar').slideUp(function() {});
		}, duration);
	});
}


var local = "{{ local|safe }}";
var del_url = "/deletequery"
var del_study_url = "/deletestudyquery"
var del_transcriptome_url = "/deletetranscriptomequery"
var seq_url = "/seqrulesquery"

document.getElementById("update_study_button").onclick = (function() {
	$("#loading-div-background").show();
	$("#container").hide();
	var qu = {};
	for (var study_id in study_dict) {
		var studycheck = $('input:checkbox[name="delete_'+study_id+'"]:checked').val();
		var access_list = document.getElementById('access_'+study_id).value
		var studyname = document.getElementById('studyname_'+study_id).value
		var organism_name = document.getElementById('organism_'+study_id).value
		var assembly_name = document.getElementById('assembly_'+study_id).value
		// python fails if studycheck is an empty string, so added 'del_'
		qu[study_id] = ["del_"+studycheck,access_list,studyname,organism_name,assembly_name]
		};
	$.ajax({
			type: "POST",
			async:true,
			contentType: "application/json; charset=utf-8",
			url: del_study_url,
			data: JSON.stringify(qu),
			dataType: "html",
			success: function (data) {
				showNotificationBar(data,5000);
		}
		})
		});


document.getElementById("update_transcriptomes_button").onclick = (function() {
	$("#loading-div-background").show();
	$("#container").hide();
	var qu = {};
	for (var transcriptome_id in transcriptome_dict) {
		var transcriptomecheck = $('input:checkbox[name="delete_'+transcriptome_id+'"]:checked').val();
		// python fails if studycheck is an empty string, so added 'del_'
		qu[transcriptome_id] = ["del_"+transcriptomecheck]
		};
	$.ajax({
		type: "POST",
		async:true,
		contentType: "application/json; charset=utf-8",
		url: del_transcriptome_url,
		data: JSON.stringify(qu),
		dataType: "html",
		success: function (data) {
			showNotificationBar(data,5000);
			}
		})
		});

// Query function, gathers information on settings configured by the user and passes it to python for a plot to be generated
document.getElementById("delete_button").onclick = (function() {
	$("#loading-div-background").show();
	$("#container").hide();
	var qu = {};
	for (var filename in file_dict) {
		var filecheck = $('input:checkbox[name="delete_'+file_dict[filename][1]+'"]:checked').val();
		var file_desc = document.getElementById("desc_"+file_dict[filename][1]).value;
		var cutadapt_removed = document.getElementById("cutadapt_"+file_dict[filename][1]).value;
		var rrna_removed = document.getElementById("rrna_"+file_dict[filename][1]).value;
		var unmapped = document.getElementById("unmapped_"+file_dict[filename][1]).value;
		var file_id = file_dict[filename][1]
		var file_info = {"filecheck":filecheck,"file_desc":file_desc,"file_id":file_id,"cutadapt_removed":cutadapt_removed,"rrna_removed":rrna_removed,"unmapped":unmapped};
		qu[filename] = file_info;
		};
	$.ajax({
			type: "POST",
			async:true,
			contentType: "application/json; charset=utf-8",
			url: del_url,
			data: JSON.stringify(qu),
			dataType: "html",})
		});


document.getElementById("update_seq_button").onclick = (function() {
	$("#loading-div-background").show();
	$("#container").hide();
	var qu = {};
	for (var seq_name in seq_dict) {
		qu[seq_name] = 0;
	};
	for (var seq_name in seq_dict) {
		if (document.getElementById(seq_name+'fbd').checked) {
			fbd_check = 'True';
		}
		else {
			fbd_check = 'False';
		}
		qu[seq_name] = [fbd_check];
	};
	$.ajax({
			type: "POST",
			async:true,
			contentType: "application/json; charset=utf-8",
			url: seq_url,
			data: JSON.stringify(qu),
			dataType: "html",
			success: function(){
				showNotificationBar("Sequence rules updated successfully",5000);
				}
				
				
				})
		});
	</script>

</body>
</html>
{% endblock %}
